[Unit]
Description=Hourly git auto-pull

[Service]
Type=oneshot
ExecStart=%h/.config/git-auto-pull/git-auto-pull
StandardOutput=null
StandardError=file:%h/.config/git-auto-pull/error.log
